<table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let department of depts;">
                <td style="width: 15%;">{{department.Code}}</td>
                <td>{{department.Title}}</td>
                <td class="w-25">
                    <a class="btn btn-info" *ngIf='auth.IsAdmin' [routerLink]="['/addDepartment']" [queryParams]="{code:department.Code}">Edit</a>
                    <a type="button" class="btn" (click)="OnShow(department)" data-toggle="modal" data-target="#myModal">Detail</a>
                    <a type="button" class="btn btn-danger" *ngIf='auth.IsAdmin' (click)="SetToRemove(department.Code)" data-toggle="modal" data-target="#myDeleteModal">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Staff Information</h4>
        </div>
        <div class="modal-body">
          <table class="table borderless">
              <tr>
                  <td class="w-50">Code</td>
                  <td>{{department.Code}}</td>
              </tr>
              <tr>
                <td class="w-50">Title</td>
                <td>{{department.Title}}</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Modal Delete -->
  <div class="modal fade" id="myDeleteModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Department</h4>
        </div>
        <div class="modal-body">
          <h5>Are you sure to remove department?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="OnRemove()">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
      
    </div>
  </div>
