<br>
<br>
<h2 *ngIf="!IsStaffEdit">Add New Employee</h2>
<h2 *ngIf="IsStaffEdit">Edit Employee</h2>
<hr>
<br>
<br>

<form [formGroup]='EmployeeInfo' (ngSubmit)="OnSubmit()">
    <table class="w-50">
        <tr>
            <td><h5>Employee Name</h5></td>
            <td><input type="text" class="form-control" formControlName='employeeName'></td>
        </tr>
        <br>
        <tr>
            <td><h5>Salary</h5></td>
            <td><input type="text" class="form-control" formControlName='salary'></td>
        </tr>
        <br>
        <tr>
            <td><h5>Department Name</h5></td>
            <td><input type="text" class="form-control" formControlName='departmentName'></td>
        </tr>
        <br>
        <tr>
            <td>
            </td>
            <td>
                <button (click)="Cancel()" class="btn btn-info" style="margin-right: 1px;width: 49%;">Cancel</button>
                <button type="submit" *ngIf="!IsStaffEdit" class="btn btn-primary" style="width: 50%;">Save</button>
                <button type="submit" *ngIf="IsStaffEdit" class="btn btn-primary" style="width: 50%;">Edit</button>
            </td>
        </tr>
    </table>
</form>